<% content_for :table_head do %>
  <th><%= Term.human_attribute_name(:name) %></th>
<% end %>

<%= render layout: 'shared/index', locals: {
    cls: Term, items: @terms, is_creatable: admin?, is_editable: admin?, is_destroyable: admin?
  } do |term| %>
  
  <td><%= link_to term.name, term %></td>
<% end %>