<h1>Edubay</h1>
<h2>Recently uploaded files</h2>
<table class="listing">
  <tr>
    <th>Lecture date</th>
    <th>Lecture</th>
    <th>Description</th>
  </tr>
  
  <% @recently_uploaded_files.each do |doc| %>
    <tr>
      <td><%= doc.lecture_date %></td>
      <td><%= link_to doc.lecture.name + " (" + doc.lecture.abbreviation + ")", doc.lecture %></td>
      <td><%= link_to doc.doc_type.name + ": " + doc.description, doc %></td>
      
    </tr>
  <% end %>
</table>
