<h1>Home#intro</h1>

<div style="float: left; background-color: #F7F6F6; border-color: #D9E2E6; border-style: solid; border-width: 1px; padding: 10px; margin-right: 20px;">
  <h3>Inhaltsverzeichnis</h3>
  <ol>
    <li>
      <a href="#reservierungen">Reservierungen</a>
    </li>
    
    <li>
      <a href="#bedienung_smartpen">Bedienung des Smart Pens</a>
    </li>
    
    <li>
      <a href="#nach_der_vorlesung">Nach der Vorlesung</a>
      
      <ol>
        <li>
          <a href="#erzeugen_pencast">Erzeugen eines Pencasts</a>
        </li>
        
        <li>
          <a href="#hochladen">Hochladen</a>
        </li>
      </ol>
    </li>
  </ol>
</div>

Hier kommt jetzt etwas einleitender Text.
<br><br><br><br><br><br><br><br><br><br><br><br>

<h2 id="reservierungen">Reservierungen</h2>
Das ist die Erklärung, wie das mit den Reservierungen funktioniert.
<br><br><br>
<h2 id="bedienung_smartpen">Bedienung des Smart Pens</h2>
<h2 id="nach_der_vorlesung">Nach der Vorlesung</h2>
<h3 id="erzeugen_pencast">Erzeugen eines Pencasts</h3>
<h3 id="hochladen">Hochladen</h3>
