<h1>Anleitung zu den Smartpens</h1>

<div style="float: right; background-color: #F7F6F6; border-color: #D9E2E6; border-style: solid; border-width: 1px; padding: 10px; margin-right: 20px;">
  <h3>Inhaltsverzeichnis</h3>
  <ol>
    <li>
      <a href="#reservierungen">Reservierungen</a>
    </li>
    
    <li>
      <a href="#bedienung_smartpen">Bedienung des Smart Pens</a>
      
      <ol>
        <li>
          <a href="#bedienung_blockdeckel">Der Blockdeckel</a>
        </li>
        
        <li>
          <a href="#bedienung_seite">Die karierten Seiten</a
        </li>
      </ol>
    </li>
    
    <li>
      <a href="#nach_der_vorlesung">Nach der Vorlesung</a>
      
      <ol>
        <li>
          <a href="#software_installation">Installation der Software</a
        </li>
        
        <li>
          <a href="#erzeugen_pencast">Erzeugen eines Pencasts</a>
        </li>
        
        <li>
          <a href="#hochladen">Hochladen</a>
        </li>
      </ol>
    </li>
  </ol>
</div>

<p>
  Auf dieser Seite wird der komplette Prozess vom Reservieren eines Smart Pens,
  über die Bedienung, bis hin zum Hochladen der fertigen Mitschrift erklärt.
  Falls du einen eigenen Smart Pen hast, dann ist für dich wahrscheinlich nur
  der letzte Punkt, nämlich das Hochladen, interessant.
</p>

</br>

<h2 id="reservierungen">Reservierungen</h2>
<p>
  Bevor du einen Smart Pen ausleihen kannst, musst du dir erst einen der verfügbaren
  Stifte reservieren.
  </br>
  Momentan sind wir noch in der Testphase, das heißt, die Reservierung erfolgt ganz
  einfach über eine E-Mail an folgende Adresse:
  </br>
  Schreib uns dazu einfach, welche Vorlesung du gerne mitschreiben würdest und
  möglichst auch die Termine, dann schicken wir dir alle weiteren Informationen zu!
</p>

</br>

<h2 id="bedienung_smartpen">Bedienung des Smart Pens</h2>
<p>
  Hast du dir einen unserer Stifte und einen Block dazu abgeholt, kann es eigentlich
  auch schon losgehen!
  <br/>
  Der Stift selbst hat nur einen einzigen Knopf, nämlich den Einschalter. Der Rest wird
  komplett über auf das Papier gedruckte Buttons gesteuert. Um einen solchen zu betätigen,
  brauchst du nur mit der Mine im Stift auf das Papier an der Stelle zu drücken.
</p>

<h3 id="bedienung_blockdeckel">Der Blockdeckel</h3
<p>
  Auf der Innenseite des Blockdeckels findest du neben einem gedruckten Taschenrechner die
  wichtigsten Einstellungen. Als erstes solltest du den Stift nach dem Einschalten in die
  Hand nehmen und schauen, ob du das Display lesen kannst. Wenn nicht, dann kannst du den
  Stift mit den Buttons "left handed" / "right handed" umstellen.
  </br>
  <b>
    Außerdem solltest du immer darauf achten, dass während einer Vorlesung der Stift auf
    lautlos gestellt ist!
  </b>
</p>

<h3 id="bedienung_seite">Die karierten Seiten</h3>
<p>
  Auf den karierten Blättern befindet sich am unteren Rand eine Steuerleiste.
  Die für den ersten Test wichtigen Buttons sind "Record" / "Stop" zum Starten und Beenden einer
  Aufzeichnung und der "Bookmark"-Button, mit dem du während der Aufzeichnung Lesezeichen setzen
  kannst.
  </br>
  Nachdem du jetzt also einmal auf "Record" gedrückt hast, beginnt der Stift, den Ton
  aufzuzeichnen und du kannst auf dem karierten Papier zu schreiben beginnen!
  Im Display siehst du eine Zeitanzeige, die die bisherige Länge der Aufzeichnung anzeigt.
</p>

</br>

<h2 id="nach_der_vorlesung">Nach der Vorlesung</h2>
<p>
  Im Folgenden wird dir erklärt, wie du nach einer Vorlesung die Aufzeichnung hochladen kannst.
</p>

<h3 id="software_installation">Installation der Software</h3>
<p>
  Wenn du dir das erste Mal einen Smartpen ausgeliehen hast, dann musst du, bevor du eine
  Mitschrift auf deinen Computer überspielen kannst, dafür eine Software installieren.
</p>
<p>
  <b>Achtung:</b> Da sich das Projekt gerade noch in der Testphase befindet, muss jeder die
  Software bei sich selbst installieren. Später ist eine (möglichst auch automatisierte)
  Uploadmöglichkeit direkt an der Uni geplant!
  </br>
  Die Software ist außerdem momentan <b>nur für Windows und Mac OS</b> verfügbar!
</p>
<p>
  Der Downloadlink zur Software befindet sich hier:
  <a href="http://www.livescribe.com/de/starthere/" target="_blank">Download!</a>
</p>

<h3 id="erzeugen_pencast">Erzeugen eines Pencasts</h3>

<h3 id="hochladen">Hochladen</h3>
