<h1>Home#intro</h1>
<div style="float: left; background-color: #F7F6F6; border-color: #D9E2E6; border-style: solid; border-width: 1px; padding: 10px; margin-right: 20px;">
  <h3>Inhaltsverzeichnis</h3>
  <ol>
    <li>
      <a href="#reservierungen">Reservierungen</a>
    </li>
    
    <li>
      <a href="#bedienung_smartpen">Bedienung des Smart Pens</a>
    </li>
    
    <li>
      <a href="#nach_der_vorlesung">Nach der Vorlesung</a>
      
      <ol>
        <li>
          <a href="#erzeugen_pencast">Erzeugen eines Pencasts</a>
        </li>
        
        <li>
          <a href="#hochladen">Hochladen</a>
        </li>
      </ol>
    </li>
  </ol>
</div>

<p>
Auf dieser Seite wird der komplette Prozess vom Reservieren eines Smart Pens,
über die Bedienung, bis hin zum Hochladen der fertigen Mitschrift erklärt.
Falls du einen eigenen Smart Pen hast, dann ist für dich wahrscheinlich nur
der letzte Punkt, nämlich das Hochladen, interessant.
</p>

</br>

<h2 id="reservierungen">Reservierungen</h2>
<p>
Bevor du einen Smart Pen ausleihen kannst, musst du dir erst einen der verfügbaren
Stifte reservieren.
</br>
Momentan sind wir noch in der Testphase, das heißt, die Reservierung erfolgt ganz
einfach über eine E-Mail an folgende Adresse:
</br>
Schreib uns dazu einfach, welche Vorlesung du gerne mitschreiben würdest und
möglichst auch die Termine, dann schicken wir dir alle weiteren Informationen über
Abholort usw. zu!
</p>

</br>
<h2 id="bedienung_smartpen">Bedienung des Smart Pens</h2>
<p>
Die Bedienung des Stiftes ist denkbar einfach und wird im hier eingebundenen
Video kurz erklärt:
</p>

<h2 id="nach_der_vorlesung">Nach der Vorlesung</h2>

<h3 id="erzeugen_pencast">Erzeugen eines Pencasts</h3>

<h3 id="hochladen">Hochladen</h3>
