<table class="tablesorter" id="courses_table">
	<thead>
		<tr>
			<th><%= t 'name' %></th>
		</tr>
	</thead>

	<tbody>
		<% @courses.each do |course| %>
			<tr>
				<td>
					<%=
						link_to course.courseName,
							'https://campus.tum.de/tumonline/lv.detail?clvnr=' + course.courseID
					%>
				</td>
			</tr>
		<% end %>
	</tbody>
</table>
