<h1>Liste der Veranstaltungen</h1>

<table id="courses_table">
	<thead>
		<tr>
			<th>Name</th>
		</tr>
	</thead>

	<tbody>
		<%= render partial: 'single_table_row', collection: @courses, as: :course %>
	</tbody>
</table>