<p id="notice"><%= notice %></p>

<p>
  <b><%= DevType.human_attribute_name(:name) %>:</b>
  <%= @dev_type.name %>
</p>

<%#= link_to 'Edit', edit_dev_type_path(@dev_type) %><!-- |-->
<%#= link_to 'Back', dev_types_path %>
