<% content_for :table_head do %>
  <th><%= Lecturer.human_attribute_name(:name) %></th>
<% end %>

<%= render layout: 'shared/index', locals: {
    cls: Lecturer, items: @lecturers, is_creatable: admin?, is_editable: admin?, is_destroyable: admin?
  } do |lecturer| %>
  
  <td><%= link_to lecturer.name, lecturer %></td>
<% end %>