<h1>Liste der Veranstaltungen</h1>

<table id="courses_table">
	<thead>
		<tr>
			<th>TUMonline-courseID</th>
			<th>Name</th>
			<th>Für alle sichtbar</th>
			<th class="{sorter: false}" style="width: 20px;">Bearbeiten</th>
			<th class="{sorter: false}" style="width: 20px;">Löschen</th>
		</tr>
	</thead>

	<tbody>
		<%= render partial: 'single_table_row', collection: @courses, as: :course %>
	</tbody>
</table>

<br />

<%= link_to 'Veranstaltung hinzufügen', new_admin_course_path, method: :get, remote: true, id: 'new_course_button' %>
