<td id="portal-column-one">
	<span>
		<div class="portlet">
			<span>
				<%= render_navigation %>
			</span>
		</div>
	</span>
	
	<span>
		<div class="portlet_no_box">
			<div style="padding: 0px; margin-top: 20px;">
				<a target="blank" href="http://www.exzellente-lehre.de/index.html">
					<%= image_tag "exzellente_lehre.gif", border: 0 %>
				</a>
			</div>
		</div>
	</span>
</td>