<td id="portal-column-two">
	<span>
		<div class="portlet">
			<div>
				<div style="margin-top: 4px;">
					<%= image_tag "facebook_youtube.gif", usemap: "#Map", width: 176, border: 0 %>
	
					<map id="Map" name="Map">
						<area shape="RECT" target="_blank" alt="Zum Youtube-Kanal der TUM" coords="122,1,178,27" href="http://www.youtube.com/user/TUMuenchen1">
						<area shape="RECT" target="_blank" alt="Zur Facebook-Seite der TUM" coords="1,2,87,26" href="http://www.facebook.com/TU.Muenchen">
						<area shape="RECT" target="_blank" alt="Zur Twitter-Seite der TUM" coords="91,1,118,26" href="http://www.twitter.com/TU_Muenchen">
					</map>
				</div>
			</div>
		</div>
	</span>
	
	<span>
		<div class="portlet_no_box">
			<!-- portlet_personalnews start -->
			<div class="portlet_personalnews">
				<h3>Aktuelles</h3>
				<h3></h3>
			</div>
			<!-- portlet_personalnews end -->
		</div>
	</span>
</td>